/* assets/css/transitions.css */
.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from {
    opacity: 0;
    transform: translateX(-20px);
}

.page-leave-to {
    opacity: 0;
    transform: translateX(20px);
}